*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --navColor:  #8a925a;
    --bgColor: #f1e8c7;
    --shadowColor: #60775d;
    --quoteSectionColor: #fcf5dc;
    --textColor: #444333;
    --buttonHover: #a08447;
    --accentColor: #c17d4f;
    --btnColor: #fcf5dc;
}
body{
    background-color: var(--bgColor);
    font-family:'Courier New', Courier, monospace;
    color: var(--textColor);
}
.dark-mode{
    --navColor:  #5e664d;
    --bgColor:#2c2a22;
    --shadowColor: #4a5c46;
    --quoteSectionColor:  #797770;
    --textColor:  #e0d8b8;
    --buttonHover: #7d6639;
    --accentColor: #c17d4a;

    --btnColor: #fcf5dc;
}
nav{
    background-color: var(--navColor);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 1rem;
    border: 2px solid var(--shadowColor);  
}

nav h3{
    font-family: "Special Elite";
    font-size: 1.8rem;
    font-weight:normal;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 0px var(--shadowColor);
}

.dark-mode-container{
 display: flex;
 gap: 10px;
 align-items: center;
}

.dark-mode-word{
    font-size: 18px;
}

.dark-mode-outer-border{
    position: relative;
    border: 1px solid white;
    background-color: white;
    height: 19px;
    width: 39px;
    border-radius: 13px;
    align-items: center;
}
.dark-mode-outer-border input{
    opacity:0;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.dark-mode-inner-circle{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 17px;
    width: 17px;
    background-color: var(--navColor);
    border-radius: 50%;
    transition: left 0.3s;
    z-index: 1;
}

.dark-mode-outer-border input:checked + .dark-mode-inner-circle{
    left: 20px;
    background-color: white;
}

body.dark-mode .dark-mode-outer-border{
    background-color: var(--accentColor);
    border-color: var(--accentColor);
}
.container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 1rem;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40rem;
    padding: 16px 22px;
    border: 2px solid var(--shadowColor);
    border-radius: 6px;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories h3{
    font-weight:500;
}

select{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 4px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    background-color: var(--btnColor);
    border: 1px solid var(--shadowColor);
}


.font-size-control{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.font-size-control button{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--shadowColor);
    cursor: pointer;
    box-shadow: 4px 4px 0px var(--shadowColor);
    background-color: var(--btnColor);
}


.quote-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
    width: 100%;
}
.quote-section button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    min-width: 45px;
    background-color: var(--accentColor);
    border: 1px solid var(--shadowColor);
    border-radius: 50%;
    box-shadow:4px 4px 0px var(--shadowColor);
    color: white;
}

.quote-display{
    /* border: 3px dashed var(--shadowColor); */
    border-radius: 2px;
    height: fit-content;
    min-height: 13rem;
    width: 100%;
    max-width: 40rem;
    padding: 27px 22px;
    background-color: var(--quoteSectionColor);
    font-family:"Special Elite";
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    background-image: url("./assets/scrunched-paper3.png");
    background-blend-mode: multiply;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    font-size: 16px;
    overflow: visible;
}

.tape {
    position: absolute;
    width: 130px; 
    height: 40px; 
    background-image: url("./assets/tape2.png");
    opacity: 0.7;
    background-size: cover;
    transform: rotate(7deg);
    z-index: 5;
}

.tape-top-right {
    top: -22px;
    right: 20px;
}

.tape-bottom-left {
    bottom: -23px;
    left: 20px;
    transform: rotate(186deg);
}


#quote-text, #quote-author{ 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#quote-text{ 
    margin-bottom: 2.5rem;
}
#quote-author{
    font-size: 11px;
    color: var(--accentColor)
}

#quote-author::before{
    content: "~";
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#random-btn{
    padding: 6px 15px;
    background-color: var(--accentColor);
    border: 1px solid var(--shadowColor);
    border-radius: 6px;
    box-shadow:4px 4px 0px var(--shadowColor);
    color: white;
    margin-bottom: 13px;
}
#random-btn:hover{
    box-shadow: 8px 10px 0px var(--shadowColor);
    transition: ease-in-out 0.2s;
}

button:hover{
    transform: translateY(-4px);
    box-shadow: 6px 7px 0px var(--shadowColor);
    transition: ease-in-out 0.2s;
}

@media screen and (max-width: 750px) {
    nav {
        padding: 12px 1rem;
    }
    
    nav h3 {
        font-size: 1.5rem;
    }
    
    .dark-mode-word {
        font-size: 16px;
    }
    
    .top-bar {
        
        align-items: center;
    }
    
}

@media screen and (max-width: 480px) {
    nav {
        padding: 10px 0.8rem;
    }
    
    nav h3 {
        font-size: 1.3rem;
    }
    
    .dark-mode-word {
        font-size: 0;
    }

    .dark-mode-word::before {
        content: "";
        background-image: url(./assets/night-mode.png);
        background-size:contain;
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        margin-right: 5px;
        display: inline-block;
        font-size: 16px;
    }
    
    .dark-mode-container {
        gap: 5px;
    }
    
    .quote-section {
        gap: 0.5rem;
        margin: 2.5rem 0rem;

    }
    
    .quote-section button {
        height: 25px;
        width: 25px;
        min-width: 25px;
    
    }
    
    .quote-display {
        padding: 20px 15px;
        min-height: 15rem;
    }
    
    #quote-text {
        margin-bottom: 2rem;
    }

    .font-size-control{
        gap:0.5rem;
    }
    
    .font-size-control button {
        height: 1.8rem;
        width: 1.8rem;
    }
    
    #font-size-display {
        font-size: 17px;
    }
    
    #random-btn {
        padding: 5px 12px;
    }
}

